body{
  background-image:url('../img/supplychain.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}

.alert {
  padding: 12px;
  border-radius: 3px;
  font-size: 1.2rem;
  margin-bottom: 16px;
  border-width: 2px;
  border-style: solid;
}

.alert-error {
  border-color: darkred;
  background-color: red;
  color: black;
}

.alert-info {
  border-color: orange;
  background-color: yellow;
  color: black;
}